@layer components {
  /* Radial backgrounds. */
  .bg-radial {
    @apply relative bg-left-top;

    background-size: 0.5rem 0.5rem;
  }

  .bg-radial--primary {
    background-image: radial-gradient(
      theme('colors.primary') 25%,
      transparent 25%
    );
  }

  .bg-radial--secondary {
    background-image: radial-gradient(
      theme('colors.secondary') 25%,
      transparent 25%
    );
  }

  .bg-radial--white {
    background-image: radial-gradient(
      theme('colors.white') 25%,
      transparent 25%
    );
  }

  /* Link backgrounds. */
  .bg-underline {
    text-decoration-thickness: 0.2rem;
    text-decoration-style: dotted;
    text-decoration-line: underline;
  }

  .bg-underline--dark {
    text-decoration-color: theme('colors.primary');
  }

  .bg-underline--light {
    text-decoration-color: theme('colors.white');
  }

  /* Project terminal screen backgrounds. */
  .bg-terminal {
    background-color: theme('colors.terminal');
  }

  .bg-terminal::before {
    @apply absolute top-0 left-0 w-full rounded-lg;

    background-color: theme('colors.terminal');
    content: '';
    height: 3rem;
  }

  .bg-terminal::after {
    @apply absolute top-0 left-0 w-full h-12 bg-no-repeat;

    content: '';
    background-image: url('./icons/window.svg');
  }

  /* Clip path for the site header background. */
  .header-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

  .timeline:not(:last-child) span::before {
    @apply h-full w-2 block absolute -left-4 top-9;
    content: '';

    /* Copy of bg-radial. */
    @apply bg-left-top;
    background-size: 0.5rem 0.5rem;

    /* Copy of bg-radial--white. */
    background-image: radial-gradient(theme('colors.white') 25%, transparent 25%);
  }
}
