@tailwind base;

.bg-header {
  background-size: 100% 1rem;
  background-repeat: no-repeat;
  background-position: 0px 90%;
}

.bg-header--dark {
  background-image: url('./icons/underline-dark.svg');
}

.bg-header--light {
  background-image: url('./icons/underline-light.svg');
}

.bg-radial {
  @apply relative bg-left-top;

  background-size: 0.5rem 0.5rem;
}

.bg-underline--dark::after,
.bg-underline--light::after {
  @apply absolute left-0 -bottom-2 bg-left-top w-full h-2;

  content: '';
  background-size: 0.5rem 0.5rem;
}

.bg-radial--primary,
.bg-underline--dark::after {
  background-image: radial-gradient(
    theme('colors.primary') 25%,
    transparent 25%
  );
}

.bg-radial--secondary {
  background-image: radial-gradient(
    theme('colors.secondary') 25%,
    transparent 25%
  );
}

.bg-radial--white,
.bg-underline--light::after {
  background-image: radial-gradient(theme('colors.white') 25%, transparent 25%);
}

.bg-window {
  background-color: theme('colors.terminal');
}

.bg-window::before {
  @apply absolute top-0 w-full rounded-lg;

  background-color: theme('colors.terminal');
  content: '';
  height: 3rem;
}

.bg-window::after {
  @apply absolute top-0 w-full h-12 bg-no-repeat;

  content: '';
  background-image: url('./icons/window.svg');
}
