@media (min-width: 640px) {
  .header-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
}

.minimap-point::before {
  @apply inline-block h-4 w-4 rounded-full bg-indigo-100 border-solid border-indigo-700 flex-shrink-0 transition-shadow;

  content: '';
  border-width: 1px;
  margin-right: 0.5rem;
}

.minimap-point:hover::before {
  @apply shadow-minimap;
}

.hit-count {
  font: 1.6rem theme('fontFamily.mono');
}
