/* Standard vertical and horizontal stack utilities.
See https://every-layout.dev/layouts/stack/. */
@responsive {
  .stack-xs > *,
  .stack-sm > *,
  .stack-md > *,
  .stack-lg > *,
  .stack-xl > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .stack-xs > * + * {
    margin-top: 0.5rem;
  }

  .stack-sm > * + * {
    margin-top: 1rem;
  }

  .stack-md > * + * {
    margin-top: 2rem;
  }

  .stack-lg > * + * {
    margin-top: 3rem;
  }

  .stack-xl > * + * {
    margin-top: 5rem;
  }

  .stack-xxl > * + * {
    margin-top: 10rem;
  }

  .stack-none > * + * {
    margin-top: 0;
  }

  .stack-xs-h > *,
  .stack-sm-h > *,
  .stack-md-h > *,
  .stack-lg-h > *,
  .stack-xl-h > * {
    margin-left: 0;
    margin-right: 0;
  }

  .stack-xs-h > * + * {
    margin-left: 0.5rem;
  }

  .stack-sm-h > * + * {
    margin-left: 1rem;
  }

  .stack-md-h > * + * {
    margin-left: 2rem;
  }

  .stack-lg-h > * + * {
    margin-left: 3rem;
  }

  .stack-xl-h > * + * {
    margin-left: 5rem;
  }

  .stack-none-h > * + * {
    margin-left: 0;
  }
}

.line-clamp-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
