/* Standard vertical and horizontal stack utilities.
See https://every-layout.dev/layouts/stack/. */
@layer utilities {
  .stack-xs > * + * {
    @apply mt-2;
  }

  .stack-sm > * + * {
    @apply mt-4;
  }

  .stack-md > * + * {
    @apply mt-8;
  }

  .stack-lg > * + * {
    @apply mt-12;
  }

  .stack-xl > * + * {
    @apply mt-20;
  }

  .stack-xxl > * + * {
    @apply mt-40;
  }

  .stack-none > * + * {
    @apply mt-0;
  }

  .stack-xs-h > * + * {
    @apply ml-2;
  }

  .stack-sm-h > * + * {
    @apply ml-4;
  }

  .stack-md-h > * + * {
    @apply ml-8;
  }

  .stack-lg-h > * + * {
    @apply ml-12;
  }

  .stack-xl-h > * + * {
    @apply ml-20;
  }

  .stack-none-h > * + * {
    @apply ml-0;
  }

  .line-clamp-ellipsis {
    @apply overflow-hidden;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .full-width-breakout {
    @apply w-screen left-1/2 right-1/2;

    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
}
