.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: theme('colors.purple');
  transition: width 300ms ease-in-out;
}

.link:hover::before {
  width: 100%;
}
