.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(18rem, auto);
  grid-auto-flow: dense;
}

.span-col-2-row-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-col-3-row-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
