@responsive {
  .stack-horizontal {
    display: flex;
  }

  .stack-horizontal > * {
    margin-left: 0;
    margin-right: 0;
  }

  .stack-horizontal > * + * {
    margin-left: 2rem;
  }

  .stack-vertical {
    display: flex;
    flex-direction: column;
  }

  .stack-vertical > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .stack-vertical > * + * {
    margin-top: 2rem;
  }

  .clear-stack-vertical > * {
    margin-top: inherit;
    margin-bottom: inherit;
  }

  .clear-stack-vertical > * {
    margin-top: inherit;
  }
}
